<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary p-0">
  <a class="navbar-brand fw-bold bg-dark px-4 py-3 py-lg-0" routerLink="/"> Rick & Morty </a>

  <button
    class="navbar-toggler me-3"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
  >
    <span class="navbar-toggler-icon bg-dark"></span>
  </button>

  <div class="collapse navbar-collapse bg-dark" id="navbarNav">
    @if (user()) {
      <ul class="navbar-nav me-auto px-4 px-lg-0">
        <li class="nav-item d-flex align-items-center my-2 my-lg-0">
          <a class="nav-link px-0 px-lg-2" routerLink="/characters" routerLinkActive="active"
            >Characters</a
          >
          <span class="badge rounded-pill bg-danger ms-2" style="font-size: 0.6rem">{{
            counts().characters
          }}</span>
        </li>

        <li class="nav-item d-flex align-items-center my-2 my-lg-0">
          <a class="nav-link px-0 px-lg-2" routerLink="/episodes" routerLinkActive="active"
            >Episodes</a
          >
          <span class="badge rounded-pill bg-danger ms-2" style="font-size: 0.6rem">{{
            counts().episodes
          }}</span>
        </li>

        <li class="nav-item my-2 my-lg-0 mb-3 mb-lg-0">
          <a class="nav-link disabled px-0 px-lg-2">Locations</a>
        </li>
      </ul>

      <div
        class="d-flex align-items-center text-secondary px-4 py-3 py-lg-0 border-top border-secondary hide-border-lg mt-2 mt-lg-0"
      >
        @if (isAdmin()) {
          <a
            class="text-info me-4 fw-bold text-decoration-none"
            routerLink="/admin-dashboard"
            matTooltip="Go to Admin Dashboard"
          >
            <i class="bi bi-shield-lock-fill me-2"></i>Admin Panel
          </a>
        } @else {
          <a
            class="text-primary me-4 fw-bold text-decoration-none"
            routerLink="/profile"
            matTooltip="Go to profile"
          >
            <img
              [src]="user()?.imgProfile || 'assets/img/avatar.svg'"
              alt="Profile Picture"
              class="rounded-circle me-2 object-fit-cover"
              style="width: 1.5rem; height: 1.5rem; border: 1px solid #0d6efd"
            />{{ user()?.fullName }}
          </a>
        }

        <span class="logout-link fw-semibold" style="cursor: pointer" (click)="onLogout()">
          <i class="bi bi-box-arrow-right me-1"></i> Log Out
        </span>
      </div>
    } @else {
      <ul
        class="navbar-nav ms-auto px-4 py-3 py-lg-0 border-top border-secondary border-lg-0 mt-2 mt-lg-0"
      >
        <li class="nav-item bg-dark my-1 my-lg-0">
          <a class="nav-link px-0 px-lg-2" routerLink="/auth/login" routerLinkActive="active"
            >Login</a
          >
        </li>
        <li class="nav-item bg-dark my-1 my-lg-0">
          <a class="nav-link px-0 px-lg-2" routerLink="/auth/register" routerLinkActive="active"
            >Register</a
          >
        </li>
      </ul>
    }
  </div>
</nav>
