<nav aria-label="Page navigation" class="d-flex justify-content-center my-4">
    <ul class="pagination mb-0">
        <li class="page-item" [class.disabled]="current() === 1">
            <button class="page-link custom-page-link" (click)="onPageChange.emit(-1)">
                Previous
            </button>
        </li>

        <li class="page-item active">
            <span class="page-link custom-page-link">{{ current() }}</span>
        </li>

        <li class="page-item">
            <button class="page-link custom-page-link" (click)="onPageChange.emit(1)">
                {{ current() + 1 }}
            </button>
        </li>
        <li class="page-item">
            <button class="page-link custom-page-link" (click)="onPageChange.emit(2)">
                {{ current() + 2 }}
            </button>
        </li>

        <li class="page-item">
            <button class="page-link custom-page-link" (click)="onPageChange.emit(1)">
                Next
            </button>
        </li>
    </ul>
</nav>